

	<div class="row mt-5">
		<div class="title">
		</div>
		<div class="col-4 title-name">
			<h2>日記一覧</h2>
		</div>
		<div class="offset-4 col-3">
			<%= link_to "日記を書く", new_diary_path, class:"btn btn-success" %>
		</div>
		
	</div>
	<div class="row mt-5">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>日付</th>
						<th>タイトル</th>	
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @diaries.each do |diary| %>
					<tr>
						<td><%= diary.diary_date %></td>
						<td><%= diary.title %></td>
						<td><%= diary.adequacy %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
