<div class="container">
	<div class="title text-center">
		<h2>My Life</h2>
	</div>
	<div class="row">
		<div class="col-md-4 border mr-4">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="col-md-7 border">
		</div>
	</div>
</div>
