<% if model.errors.any? %>
	<div class="row error-box">
		<h4><%= model.errors.count %>件のエラーが発生しました</h4>
		<div class="col-10">
			<ul>
				<% model.errors.full_messages.each do |message| %>
					<li class=""><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>