<% if model.errors.any? %>
	<div class="row text-red">
		<h3><%= model.errors.count %>error prohibited this obj from being saved:</h3>
		<div class="col-12">
			<ul>
				<% model.errors.full_messages.each do |message| %>
					<li class=""><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>