<footer class="bg-blue1">
	<div class="container">
		<div class="row align-items-center mt-2">
			<div class="offset-3 col-6 text-center">
				<span class="">©gomisukePF</span>
			</div>
			<div class="col-3 text-right">
				<span class="">
					<%= link_to "お問い合わせ", new_inquiry_path, class:"btn btn-bg" %>
				</span>
			</div>
		</div>
	</div>
</footer>