<buttom class="" data-toggle="modal" data-target="#sleeping">
	<i class="fas fa-clipboard ml-3"></i>
</buttom>

<div class="modal fade" id="sleeping" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<span>メモを書く</span>
				<div class="form-group">
					<%= f.text_field :sleeping_memo, class:"form-control w-75" %>
					<%= f.submit "保存", class:"btn btn-success" %>
				</div>
			</div>
		</div>
	</div>
</div>