<table class="table">
	<thead>
		<tr>
			<th>日付</th>
			<th>タイトル</th>	
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% diaries.each do |diary| %>
		<tr>
			<td><%= diary.diary_date %></td>
			<td><%= diary.title %></td>
			<td><%= diary.adequacy %></td>
		</tr>
		<% end %>
	</tbody>
</table>