<div class="row mt-3">
	<% diaries.each do |diary| %>
	<div class="offset-1 col-md-10 border">
		<div class="row">
			<div class="col-5">
				<%= diary.diary_date %>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<%= diary.adequacy %>
			</div>
			<div class="col-9">
				<%= diary.title %><br>
				<%= diary.body %>
			</div>
		</div>
	</div>
	<% end %>
</div>