<div class="container-fluid bg-blue4">
	<div class="row justify-content-center py-2">
		<div class="col-10 about-back text-center">
			<div class="py-5">
				<%= image_tag 'mylife-logo5.png', class:"img-fluid" %>
			</div>
			<div class="about-top w-75 mx-auto py-5">
				<h2>My Lifeとは</h2><br>
				<p>自分自身の生活を記録し見直すことで</p>
				<p>より良い生活習慣を作り上げるためのサイトです</p><br>
				<p>みなさん、習慣化していることはありますか？</p>
				<p>読書を始めよう、筋トレを毎日続けよう、勉強を頑張ろう・・・</p>
				<p>様々なことに挑戦してきたけどなかなか続かず挫折...</p>
				<h5>そんな経験ありませんか？</h5>,<br>
				<p>My Lifeはそんな経験の多い方でも習慣を作ることができます</p>
				<p>一緒に良い習慣を作っていきましょう</p>
				<!-- <br>
				<p>可視化</p>
				<p>継続できていることをひと目でわかるようにすることで</p>
				<p>モチベーションのキープにつながります</p><br>
				<p>毎日確認する</p>
				<p>MyLifeには日記機能・写真投稿機能が備わっています</p>
				<p>日記機能ではその日の出来事の記録を残すことができます</p>
				<p>写真投稿機能では思い出の写真やお気に入りの写真を投稿でき</p>
				<p>他のユーザーの投稿した写真も見ることができおき入りの</p>
				<p></p> -->

			</div>
			<div class="row mt-5">
				<div class="col-12 about-title">
					<h3>-----------アプリの使い方-----------</h3>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-6">
					<%= image_tag 'custom.png', class:"img-fluid" %>
				</div>
				<div class="col-6 text-left pt-5">
					<p>・習慣タスクを設定して毎日タスクをこなそう！</p>
					<p>・達成状況はカレンダーを見ることで確認できる！</p>
					<p>・生活の記録し1日の生活習慣もととえよう！</p>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-6 text-left pt-5">
					<p>・日記を作成し1日の振り返りの時間をもうけよう！</p>
					<p>・見返すことで気持ちの変化が知ることができます！</p>
				</div>
				<div class="col-6">
					<%= image_tag 'diary.png', class:"img-fluid" %>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-6">
					<%= image_tag 'post.png', class:"img-fluid" %>
				</div>
				<div class="col-6 text-left pt-5">
					<p>・みんなの投稿した写真を見てお気に入りを見つけよう！</p>
					<p>・思い出の写真を投稿して共有しよう！</p>
					<p>・ペットの写真を見るもよし、綺麗な景色を見るもよし、一息つける時間も大切にしよう</p>
				</div>
			</div>
		</div>
	</div>
</div>
