// Place all the styles related to the customs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//カレンダーレイアウト
.simple-calendar {
  .day {
    background-color: white;
  }

  .wday-0 {
     background-color: #ffc0cb;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
     background-color: #afeeee;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.calendar-top {
  background-color: #007bff;
  border-radius: 30px;
  padding: 0px 20px;
  color: white;
}

.box-custom {
  border: 3px #006400 solid;
  border-radius: 100px;
}

.box-diary {
  border: 3px #ff8c00 solid;
  border-radius: 100px;
}

.img-width {
  width: 70%;
}

.box-post {
  border: 3px #00008b solid;
  border-radius: 100px;
}

.custom-index-top {
  border-bottom: 1px #d3d3d3 solid;
}

.custom-table {
  border: 3px #ffa500 dashed;
  border-radius: 20px;
  background-color: #fdf1d5;
  box-shadow: 0 0 0 5px #fdf1d5;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}

.management-table {
  border: 1px #d3d3d3 solid;
  padding: 20px;
}

.custom-index-title {
  border-bottom: 5px #006400 solid;
}

.heading {
  height: 100px;
  color: white;
  border: 5px #ffffff double;
}

.life-form {
  border: 3px #ffa500 dashed;
  border-radius: 20px;
  background-color: #fdf1d5;
  box-shadow: 0 0 0 5px #fdf1d5;
  padding: 15px 0px;
}

.task-title {
  border-radius: 30px;
  padding: 0px 20px;
  color: white;
}

.task-index {
  position: relative;
}

.task-complete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}