@font-face {
  font-family: "ロゴ";
  src: asset-url('corp_round_v1.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "マルゴシック";
  src: asset-url('rounded-mgenplus-1c-medium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}