// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-box {

}

.card_in_img {
	height: 150px;
}

.post-new {
	border: 2px #000000 solid;
	padding: 20px 30px;
}

