// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-new {
	border: 1px #d3d3d3 solid;
	padding: 20px 30px;
}

.post-new-title {
	border-bottom: 5px #00008b solid;
}

.post-image {
	border: 2px #d3d3d3 solid;
}

.search-box {
	border: 1px #d3d3d3 solid;
	height: 500px;
}

.post-index-title {
	border-bottom: 5px #00008b solid;
}

.back-btn {
	border-bottom: 1px #000000 solid;
}

.tag-lable {
	font-size: 5px;
}
