// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-new {
	border: 2px #000000 solid;
	padding: 20px 30px;
}

.search-box {
	border: 1px #000000 solid;

}

