// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-image {
	border-radius: 50%;
	border: 2px #d3d3d3 solid;
}

.mypage {
	border-radius: 50px;
}

.mypage-box {
	height: 500px;
}

.page-title {
	border-radius: 50px;
	border: 5px #007bff solid;
	font-family: "マルゴシック"
}

.mypage-border {
	border-bottom: 2px #007bff solid;
}