// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-image {
	border-radius: 50%;
	border: 5px #000000 double;
}

.mypage {
	border-radius: 50px;
}

.mypage-box {
	height: 500px;
}

.mypage-title {
	border-radius: 50px;
	border: 5px #007bff solid;
}

.mypage-border {
	border-bottom: 2px #007bff solid;
}